body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;

}

header {
  background-color: #ffffff;
  margin-top: 70px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(217, 186, 186, 0.1);
}

form {
  margin-top: 30px;

}

input[type="file"] {
  padding: 10px;
  border: 2px dashed #aaa;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 93%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  border-radius: 15px;
  margin: 20px;

}

.logo {
  font-size: 1.0cm;
  font-weight: bold;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;


}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: underline;
}
