* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




body {
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  background-color:#f9fafb;
}

.topbar {
  background-color:#38bdf8;
  color: white;
  padding: 30px 30px;
  border-radius: 15px;
  width: 95%;
  margin: 20px auto; /* ⬅ Centers the bar and gives space from top */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Nice floating effect */
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-right {
  margin-right: 20px;
  text-decoration: none;

  color: #333;
}


.logo {
  font-size: 1.7rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 70px;         
  margin: 0;
  padding: 0px;
  font-size: 1.4rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.intro-text {
  margin: 40px auto;
  width: 80%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #1f2937;
}
.intro-text h1 {
  font-size: clamp(1rem, 5vw, 5.5rem);
  font-weight: 700;
  margin-bottom: 20px;
  position: fixed;
  left: 70px;
}
.intro-text p1 {
  font-size: clamp(0.5rem, 1.5vw, 2rem);
  font-weight: 300;
  position: absolute;
  top: 480px;
  left: 70px;


}

.intro-text p2 {
  font-size: 1.8rem;
  font-weight: 900;
  position: absolute;
  top: 650px;
  left: 70px;
  color: #facc15;

  
}

.main-pic{

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
  position: absolute;
  top: 230px;
  left: 1100px;
}
.main-pic img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: block;
 
}

