<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - IT STICKS</title>
    <link rel="stylesheet" href="/home/shreenish/Documents/GitHub/IT-STICKS/static/css/template.css" >
</head>
<body>





    <h2>Login</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <button type="submit" title="Login">Login</button>
    </form>
    <p>No account? <a href="/register">Sign up</a></p>
</body>
</html>
